.txtfiled{
    -fx-background-color: FAF9F6;
    -fx-background-radius: 5px;
    -fx-border-color: #CC0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.password{
    -fx-background-color: FAF9F6;
    -fx-background-radius: 5px;
    -fx-border-color: #CC0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: null;
}
.password:hover{
    -fx-background-color: FAF9F6;
    -fx-border-color: #CC0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);;
}
.logButton{
    -fx-background-color: #CC0000;
    -fx-effect: null;
}
.logButton:hover{
    -fx-background-color: #CC0000;
    /* Apply drop shadow effect when button is hovered */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 20, 0, 0, 0);
}
.logButton:pressed{
    -fx-background-color: #C20000;
}