.buttonSave{
    -fx-background-color: #C20000;
    -fx-background-radius: 30;
    -fx-text-fill: #fff;
}
.buttonChange{
    -fx-background-color: transparent;
}
.leftSidePane{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 10px;
    -fx-border-color: #C20000;
    -fx-border-width: 2px;
    -fx-border-radius:10px;
}
.selected-border{

}
.selected:hover{
    -fx-background-color: rgba(157, 86, 86, 0.98);
    -fx-border-color: #C20000;
    -fx-border-width: 0 5 0 0;
}